<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Predrink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77F5B0721E717DD400802904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F5B08B1E717DD500802904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F5B0961E717DD500802904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
